@{
    Layout = "~/Views/Shared/_LayoutSemHeader.cshtml";
    ViewData["Title"] = "Login";
}
<link rel="stylesheet" href="~/css/pages/login/login.css" />
<div class="login-main row m-0">
    <div class="col-left col-lg-7">
        <img src="~/img/logo.png" />
    </div>
    <div class="col-right col-lg-5">
        <form action="/login/Fazlogin" method="post" class="form-group">
            <input type="hidden" name="Operacao" value="@ViewBag.clienteID" />
            <label for="usuario" class="control-label font-weight-bold text-white">Usuário</label>
            <input type="text" name="usuario" class="form-control" required placeholder='Usuário' />
            <label for="senha" class="control-label font-weight-bold text-white">Senha</label>
            <input type="password" name="senha" class="form-control" required placeholder='Senha' />
            <span class="text-danger"> @ViewBag.Erro</span>

            <div class="w-100 mt-3" style="display: flex; justify-content: space-between; align-items: center">
                <input type="submit" value="Login" class="btn btn-success" />
                <a class="btn btn-outline-warning font-weight-bold" href="/cliente/create">Cadastre-se</a>
            </div>            
        </form>
    </div>
</div>
