@model List<CaminhaoViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="text-white">Listagem de Caminhões</h2>
<a class="btn btn-outline-light" href="/caminhao/create">Novo Registro</a>
<br />
<table class="table table-responsive text-white">
    <tr>
        <th>Placa do veículo</th>
        <th>Placa da carreta</th>
        <th>Ações</th>
    </tr>
    @foreach (var caminhao in Model)
    {
        <tr>
            <td>@caminhao.Placa</td>
            <td>@caminhao.Carreta</td>
            <td>
                <a class="btn btn-outline-warning" href="/caminhao/Edit?id=@caminhao.Id">Editar</a>
                <a class="btn btn-outline-danger" href="javascript:apagarCaminhao(@caminhao.Id)">Apagar</a>
                <a class="btn btn-outline-info" href="/Dashboard?id=@caminhao.Id">Dashboard</a>
            </td>
        </tr>
    }
</table>
<script>
    function apagarCaminhao(id) {
        if (confirm('Todos os registros deste caminhão serão excluídos! Confirma exclusão?'))
            location.href = 'caminhao/Delete?id=' + id;
    }
</script>