@model List<CaminhaoViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="text-white">Listagem de Caminhões</h2>
<a class="btn btn-light my-3" href="/caminhao/create">Novo Registro</a>

<div class="row">
    <div class="col-12">
        <table class="table table-responsive text-white">
            <tr>
                <th>Placa do veículo</th>
                <th>Placa da carreta</th>
                <th>Ações</th>
            </tr>
            @if (Model.Count() > 0)
            {
                @foreach (var caminhao in Model)
                {
                    <tr>
                        <td>@caminhao.Placa</td>
                        <td>@caminhao.Carreta</td>
                        <td>
                            <a href="/caminhao/Edit?id=@caminhao.Id"><img src="~/img/edit.png" style="width: 35px;"/></a>
                            <a href="javascript:apagarCaminhao(@caminhao.Id)"><img src="~/img/delete.png" style="width: 35px;" /></a>
                            <a href="/Dashboard?id=@caminhao.Id"><img src="~/img/dash.png" style="width: 35px;" /></a>
                        </td>
                    </tr>
                }
            }
            @if (Model.Count() == 0)
            {
                <tr>
                    <td>
                        Nenhum registro encontrado.
                    </td>
                </tr>
            }

        </table>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script>
    function apagarCaminhao(id) {
        if (confirm('Todos os registros deste caminhão serão excluídos! Confirma exclusão?'))
            location.href = 'caminhao/Delete?id=' + id;
    }
</script>