<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CloudScales</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body style="background-color: #004AAD;">
    <header class="custom-header">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <div class="navbar-nav flex-grow-1" style="justify-content: space-between">
                        <div class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><img class="logo" src="~/img/logo.png" /></a>
                        </div>
                        @if (ViewBag.Logado == true)
                        {
                            <div class="row">
                                <div class="custom_nav col">
                                    <div class="dropdown">
                                        <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Caminhão
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" asp-area="" asp-controller="Caminhao" asp-action="Create">Novo Caminhão</a>
                                            <a class="dropdown-item" asp-area="" asp-controller="Caminhao" asp-action="Index">Listagem Caminhões</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="custom_nav col">
                                    <div class="dropdown">
                                        <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Célula
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" asp-area="" asp-controller="Celula" asp-action="Create">Nova Célula</a>
                                            <a class="dropdown-item" asp-area="" asp-controller="Celula" asp-action="Index">Listagem Células</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="custom_nav col">
                                    <div class="dropdown">
                                        <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Equipamento
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" asp-area="" asp-controller="Equipamento" asp-action="Create">Novo Equipamento</a>
                                            <a class="dropdown-item" asp-area="" asp-controller="Equipamento" asp-action="Index">Listagem Equipamentos</a>
                                        </div>
                                    </div>
                                </div>     
                                
                            </div>
                            <div class="row align-items-center">
                                <div class="ml-auto custom_nav logoff">
                                    <span>Bem vindo(a) @ViewBag.NomeUser</span>
                                    <a class="btn btn-outline-danger ml-2" asp-area="" asp-controller="Login" asp-action="LogOff">Sair</a>
                                </div>
                            </div>
                        }
                        else
                        {
                            <ul>
                                <li class="custom_nav">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Index">Login</a>
                                </li>
                                <li class="custom_nav">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Cliente" asp-action="Index">Cadastre-se</a>
                                </li>
                            </ul>
                        }
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container" style="margin-top: 100px;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-white">
        <div class="container">
            &copy; 2021 - CloudScales - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
