@model CaminhaoViewModel 

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home";
}
<div class="w-100 h-100 row justify-content-center align-items-center">
    <img src="~/img/Logo-transp.png" height="600" width="600" />
</div>
