@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Sobre";
}

<div class="row">
    <div class="col-12 col-md-6 pr-5">
        <h1 class="text-white">Sobre o sistema</h1>
        <p class="text-white">
            Este programa tem por objetivo desenvolver o protótipo de um dispositivo eletrônico capaz de medir em tempo real carga em caminhões,
            de modo a monitorar a disposição dela para evitar acidentes ou avarias nos produtos.
        </p>
        <p class="text-white">
            A proposta consiste em utilizar os conceitos de Internet das Coisas, microcontroladores, banco de dados e programação web.
            Os métodos de pesquisas adotados foram através da construção de protótipos, pesquisas bibliográficas de caráter exploratório e pesquisas documentais.
        </p>
        <p class="text-white">
            O resultado esperado é fazer o monitoramento do peso da carga por meio do microcontrolador e envio automático para o servidor na nuvem,
            permitindo a consulta e análise em um site.
        </p>
    </div>
    <div class="col-12 col-md-6 row pl-5 text-white" style="border-left: 1px solid white">
        <h1>Desenvolvedores</h1>
        <div class="col-12 mt-2 row align-items-center">
            <img height="100" width="100" style="border-radius: 10px" src="~/img/lugas.jpg" />
            <div>
                <h5 class="ml-3">
                    Lucas de Freitas Leal
                </h5>
                <hr style="background-color: white; margin: 2px 0 2px 16px" />
                <h5 class="ml-3">
                    082190025
                </h5>
            </div>            
        </div>
        <div class="col-12 row align-items-center my-2">
            <img height="100" width="100" style="border-radius: 10px" src="~/img/gui.jpg" />
            <div>
                <h5 class="ml-3">
                    Guilherme Costa Santiago
                </h5>
                <hr style="background-color: white; margin: 2px 0 2px 16px" />
                <h5 class="ml-3">
                    082190004
                </h5>
            </div>            
        </div>
        <div class="col-12 row align-items-center">
            <img height="100" width="100" style="border-radius: 10px" src="~/img/tadeu.jpg" />
            <div>
                <h5 class="ml-3">
                    Gabriel Tadeu Sperche Gonçalves
                </h5>
                <hr style="background-color: white; margin: 2px 0 2px 16px" />
                <h5 class="ml-3">
                    082190012
                </h5>
            </div>            
        </div>
        <div class="col-12 row align-items-center my-2">
            <img height="100" width="100" style="border-radius: 10px" src="~/img/merilo.jpg" />
            <div>
                <h5 class="ml-3">
                    Murilo Moura Macedo
                </h5>
                <hr style="background-color: white; margin: 2px 0 2px 16px" />
                <h5 class="ml-3">
                    082190034
                </h5>
            </div>            
        </div>
        <div class="col-12 row align-items-center">
            <img height="100" width="100" style="border-radius: 10px" src="~/img/zapa.png" />
            <div>
                <h5 class="ml-3">
                    Alessandro Matheus Toledo
                </h5>
                <hr style="background-color: white; margin: 2px 0 2px 16px" />
                <h5 class="ml-3">
                    082190007
                </h5>
            </div>            
        </div>
    </div>
</div>
