@model List<EquipamentoViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="text-white">Listagem de Equipamentos</h2>
<a class="btn btn-light my-3" href="/equipamento/create">Novo Registro</a>
<table class="table table-responsive text-white">
    <tr>
        <th>Id</th>
        <th>CaminhaoID</th>
        <th>QtdBalanca</th>
    </tr>
    @foreach (var equip in Model)
    {
        <tr>
            <td>@equip.Id</td>
            <td>@equip.CaminhaoID</td>
            <td>@equip.QtdBalanca</td>
            <td>
                <a class="btn btn-outline-warning" href="/equipamento/Edit?id=@equip.Id">Editar</a>
                <a class="btn btn-outline-danger" href="javascript:apagarEquipamento(@equip.Id)">Apagar</a>
            </td>
        </tr>
    }
</table>
<script>
    function apagarEquipamento(id) {
        if (confirm('Todos os registros deste equipamento serão excluídos! Confirma exclusão?'))
            location.href = 'equipamento/Delete?id=' + id;
    }
</script>
