@model ClienteViewModel
@{
    Layout = "~/Views/Shared/_LayoutSemHeader.cshtml";
    ViewData["Title"] = "Cadastro";

    string tipoCadastro = "";
    if (ViewBag.Operacao == "A")
        tipoCadastro = "Salvar";
    else
        tipoCadastro = "Cadastrar";
}
<link rel="stylesheet" href="~/css/pages/login/login.css" />
<div class="login-main row m-0">
    <div class="col-left col-lg-7">
        <img src="~/img/logo.png" />
    </div>
    <div class="col-right col-lg-5">
        <form asp-action="Save" method="post" class="form-group">
            <input type="hidden" name="Operacao" value="@ViewBag.Operacao" />
            <label for="Id" class="control-label d-none">Id</label>
            <input asp-for="Id" class="form-control" readonly type="hidden" />
            <div>
                <label for="Nome" class="control-label text-white font-weight-bold">Nome</label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div>
                <label for="CNPJ" class="control-label text-white font-weight-bold">CNPJ</label>
                <input asp-for="CNPJ" class="form-control" />
                <span asp-validation-for="CNPJ" class="text-danger"></span>
            </div>
            <div>
                <label for="Email" class="control-label text-white font-weight-bold">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div>
                <label for="Senha" class="control-label text-white font-weight-bold">Senha</label>
                <input asp-for="Senha" class="form-control" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>

            <div class="w-100 mt-3" style="display: flex; justify-content: space-between; align-items: center">
                <input type="submit" value="@tipoCadastro" class="btn btn-success" />
                <a class="btn btn-outline-warning font-weight-bold" href="/">Login</a>
            </div>
        </form>
    </div>
</div>

@{ if (!string.IsNullOrEmpty(ViewBag.Erro))
    {
        <script type="text/javascript">
        window.onload = function () {
            swal({
                title: "Erro",
                text: "@Html.Raw(ViewBag.Erro)",
                icon: "error",
                button: "OK",
            });
            };
        </script>
    }
}