@model List<ClienteViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Listagem de Usuários</h2>
<a href="/cliente/create">Novo Registro</a>
<br />
<table class="table table-responsive">
    <tr>
        <th>Nome</th>
        <th>CNPJ</th>
        <th>Email</th>
        <th>Ações</th>
    </tr>
    @foreach (var cliente in Model)
    {
        <tr>
            <td>@cliente.Nome</td>
            <td>@cliente.CNPJ</td>
            <td>@cliente.Email</td>
            <td>
                <a href="/cliente/Edit?id=@cliente.Id">Editar</a>
                <a href="javascript:apagarCliente(@cliente.Id)">Apagar</a>
            </td>
        </tr>
    }
</table>
<script>
    function apagarCliente(id) {
        if (confirm('Confirma a exclusão do registro?'))
            location.href = 'cliente/Delete?id=' + id;
    }
</script>